{{yield}}
<h3>Medical Visit History</h3>
<ul>
  <li>vaccinations</li>
  <li>Surgeries</li>
  <li>physical checkups</li>
  <li>lab results </li>
</ul>
<button> add </button> <button> delete </button>
<br>
